.settings-container
{
    background-color: rgb(255, 255, 255);
    min-height: 46.3vw;
    max-width: 82%;
    margin: auto; 
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
    margin-left: 280px;
    margin-top: 12px;
    overflow-x: auto;
}

h1 {
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
}

.setting-group {
    margin-bottom: 1.5rem;
    margin-left: 80px;
    width: 70%;
}

.setting-group h2 {
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: 40px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-left: 40px;
}

label {
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 40%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}